/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 8, 2016, 9:32:25 AM
    Author     : hoainam.nguyen
*/
.value-for-link{
     position: absolute;
    padding: 0px !important;
    height: 25px !important;
    width: 200px !important;
    
}
#value-for-link-start{
    top: -60px;
    left: 115px;
}
#value-for-link-end{
    top: -50px;
    left: 115px;
}
